@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background: red;*/
}
body{
	background: grey;
}
.header-title {
	font-family: 'Source Sans Pro', sans-serif;
	color: purple;
	background: green;
	text-align: center;
	padding: 10px;

}

h2{
	background: blue;
	color: orange;
	text-align: center;
	padding: 10px;
	width: 90%;
	margin: 0 5%;
	min-height: 40px;

}

form{
	background: red;
	text-align: center;
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 5%;
	padding: 10px;
	border-radius: 30px 30px 0 0;
}

ul {
	background: grey;
	text-align: center;
	width: 90%;
	margin: 0 5%;
	border-style: solid;
	/*display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;*/
}

label{
	font-size: 20px;
}
input{
	padding: 10px;
	margin: 2px;
}

li {
	/*background: purple;*/
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: wrap;
	border-style: double;

}
button {
	padding: 10px;
}
.list-footer{
	border-radius: 0 0 30px 30px;
}

.close-to-do {
	    /*position: relative;
   		right: 0;
    	top: 0;
    	padding: 5px;*/
    	display: inline-block;
    	margin-right: 10px;
    	font-size: 20px;
    	border-style: dotted;

}

.close-to-do:hover {
    /*background-color: #f44336;*/

    color: white;
}