*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*background: red;*/
}
h1{
	color: purple;
	background: green;
	text-align: center;
	/*margin: 20px;*/
	padding: 10px;
}

form{
	background: red;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*margin: 0 5%;*/
}

ul {
	background: grey;
	text-align: center;
	/*display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;*/
	word-wrap: break-word;
}

label{
	font-size: 20px;
}
input{
	padding: 10px;
	margin: 2px;
}

li {
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button {
	padding: 10px;
}

.close {
	    position: relative;
   		right: 0;
    	top: 0;
    	padding: 5px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}